{{#if isLogged}}
<a href="/logout" class="btn btn-primary">Cerrar Sesion</a>
<a href="/agregar.html" class="btn btn-secondary">Agregar un Producto</a>
{{else}}
<a href="/login" class="btn btn-primary">Iniciar sesion</a>
{{/if}} 